# Concatenar y apendizar data sets

In [2]:
import pandas as pd 
import os

In [5]:
mainpath = "/Users/Ricar/Documents/Proyectos/MACHINE LEARNING - UDEMY/Datasets"
filename_vr = "wine/winequality-red.csv"
vino_rojo= os.path.join(mainpath,filename_vr)
filename_vb = "wine/winequality-white.csv"
vino_blanco = os.path.join(mainpath,filename_vb)

In [8]:
vr_data = pd.read_csv(vino_rojo, sep=";")
vr_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [11]:
vb_data = pd.read_csv(vino_blanco, sep=";")
vb_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [12]:
vr_data.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [13]:
vb_data.columns.values

array(['fixed acidity', 'volatile acidity', 'citric acid',
       'residual sugar', 'chlorides', 'free sulfur dioxide',
       'total sulfur dioxide', 'density', 'pH', 'sulphates', 'alcohol',
       'quality'], dtype=object)

In [16]:
vr_data.shape

(1599, 12)

In [17]:
vb_data.shape

(4898, 12)

En python, tenemos dos tipos de ejes
* axis = 0, denota el eje horizontal
* axis = 1, denota el eje vertical

In [20]:
vino_data_full = pd.concat([vb_data,vr_data], axis=0)

In [21]:
vino_data_full.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [22]:
vino_data_full.shape

(6497, 12)

In [24]:
data1 = vb_data.head(10)
data2 = vb_data[300:310]
data3 = vb_data.tail(10)

In [28]:
vb_scramble = pd.concat([data1, data2, data3], axis=0)
vb_scramble

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.270,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.300,0.34,1.60,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.280,0.40,6.90,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.230,0.32,8.50,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.230,0.32,8.50,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
5,8.1,0.280,0.40,6.90,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
6,6.2,0.320,0.16,7.00,0.045,30.0,136.0,0.99490,3.18,0.47,9.6,6
7,7.0,0.270,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
8,6.3,0.300,0.34,1.60,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
9,8.1,0.220,0.43,1.50,0.044,28.0,129.0,0.99380,3.22,0.45,11.0,6
300,6.1,0.410,0.00,1.60,0.063,36.0,87.0,0.99140,3.27,0.67,10.8,6
301,8.3,0.200,0.35,0.90,0.050,12.0,74.0,0.99200,3.13,0.38,10.5,6
302,6.1,0.410,0.00,1.60,0.063,36.0,87.0,0.99140,3.27,0.67,10.8,6
303,6.0,0.290,0.21,1.30,0.055,42.0,168.0,0.99140,3.32,0.43,11.1,6
304,7.3,0.410,0.24,6.80,0.057,41.0,163.0,0.99490,3.20,0.41,9.9,6
305,7.3,0.410,0.24,6.80,0.057,41.0,163.0,0.99490,3.20,0.41,9.9,6
306,7.2,0.430,0.24,6.70,0.058,40.0,163.0,0.99500,3.20,0.41,9.9,5
307,7.3,0.400,0.24,6.70,0.058,41.0,166.0,0.99500,3.20,0.41,9.9,6
308,6.2,0.330,0.27,4.90,0.036,30.0,134.0,0.99270,3.20,0.42,10.4,7
309,6.2,0.310,0.26,4.80,0.037,36.0,148.0,0.99280,3.21,0.41,10.4,6
4888,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.2,5
4889,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.4,6
4890,6.1,0.340,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6
4891,5.7,0.210,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6
4892,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.7,5
4893,6.2,0.210,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.320,0.36,8.00,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.240,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.290,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.210,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [29]:
vb_scramble = pd.concat([data3, data1, data2], axis=0)
vb_scramble

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4888,6.8,0.220,0.36,1.20,0.052,38.0,127.0,0.99330,3.04,0.54,9.2,5
4889,4.9,0.235,0.27,11.75,0.030,34.0,118.0,0.99540,3.07,0.50,9.4,6
4890,6.1,0.340,0.29,2.20,0.036,25.0,100.0,0.98938,3.06,0.44,11.8,6
4891,5.7,0.210,0.32,0.90,0.038,38.0,121.0,0.99074,3.24,0.46,10.6,6
4892,6.5,0.230,0.38,1.30,0.032,29.0,112.0,0.99298,3.29,0.54,9.7,5
4893,6.2,0.210,0.29,1.60,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.320,0.36,8.00,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.240,0.19,1.20,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.290,0.30,1.10,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.210,0.38,0.80,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6
0,7.0,0.270,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.300,0.34,1.60,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.280,0.40,6.90,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.230,0.32,8.50,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.230,0.32,8.50,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
5,8.1,0.280,0.40,6.90,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
6,6.2,0.320,0.16,7.00,0.045,30.0,136.0,0.99490,3.18,0.47,9.6,6
7,7.0,0.270,0.36,20.70,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
8,6.3,0.300,0.34,1.60,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
9,8.1,0.220,0.43,1.50,0.044,28.0,129.0,0.99380,3.22,0.45,11.0,6
300,6.1,0.410,0.00,1.60,0.063,36.0,87.0,0.99140,3.27,0.67,10.8,6
301,8.3,0.200,0.35,0.90,0.050,12.0,74.0,0.99200,3.13,0.38,10.5,6
302,6.1,0.410,0.00,1.60,0.063,36.0,87.0,0.99140,3.27,0.67,10.8,6
303,6.0,0.290,0.21,1.30,0.055,42.0,168.0,0.99140,3.32,0.43,11.1,6
304,7.3,0.410,0.24,6.80,0.057,41.0,163.0,0.99490,3.20,0.41,9.9,6
305,7.3,0.410,0.24,6.80,0.057,41.0,163.0,0.99490,3.20,0.41,9.9,6
306,7.2,0.430,0.24,6.70,0.058,40.0,163.0,0.99500,3.20,0.41,9.9,5
307,7.3,0.400,0.24,6.70,0.058,41.0,166.0,0.99500,3.20,0.41,9.9,6
308,6.2,0.330,0.27,4.90,0.036,30.0,134.0,0.99270,3.20,0.42,10.4,7
309,6.2,0.310,0.26,4.80,0.037,36.0,148.0,0.99280,3.21,0.41,10.4,6